{% extends "layout.html" %}

{% block body %}
    {% if done == False %}
        <h4><p style="color:rgb(6, 221, 10);"> File uploaded successfully! </p></h4>
        <h3><p> Please wait for your data to be processed.</p></h2>
        <form method = "POST" action = "/processing_data">
            <center><input type="submit" value="Process Data"><p></p></center>
            <input type="hidden" name="yn" value="{{ yn }}">
            <input type="hidden" name="file_path" value="{{ file_path }}">
        </form>
        <h3><p>View results once the data has been processed.</p></h3>
    {% else %}
        <h2><p style="color:rgb(9, 39, 213);"> The data has been processed, click the button to view results: </p></h2>
        <p><a href="{{ url_for('results') }}" class="btn btn-primary">
            <center><button class="button-77">View Results</button></center>
        </a></p>
    {% endif %}
{% endblock %}